.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.5rem;
    border-bottom: 1px solid rgba(34,36,38,.15);
    padding-left: 14%;
    padding-right: 14%;
    color: #1D4ED8;
    font-weight: 600;
}

.header__home {
    width: 22%;

}
.header__icon {
    width: 22%;
    text-align: center;

}
.header__search {
    width: 22%;
    text-align: end;

}

@media (max-width: 760px) {
    .header {
        padding-left: 1%;
        padding-right: 1%;
    }
    .header__home {
        width: 20%;
        order: 3;
    }
    .header__icon {
        width: 20%;
        text-align: center;
        order: 2;
    }
    .header__search {
        width: 60%;
        text-align: end;
        order: 1;
    }
    
  }