.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.5rem;
    border-bottom: 1px solid rgba(34,36,38,.15);
    padding-left: 14%;
    padding-right: 14%;
    color: #1D4ED8;
    font-weight: 600;
    box-shadow: rgb(2 8 20 / 6%) 0px 1px 3px, rgb(2 8 20 / 4%) 0px 1px 2px;
}

.header__home {
    width: 22%;
}

.header__icon-container {
    width: 22%;
    text-align: center;
}

.header__icon-container img{
    height: 25px;
    width: 120.11px;
    margin-top: 4px;
}

.header__search {
    width: 22%;
    text-align: end;
}

@media (max-width: 760px) {
    .header {
        padding-left: 5%;
        padding-right: 5%;
    }
    .header__home {
        
        display: none;
    }
    .header__icon-container {
        width: 20%;
        order: 1;
        
    }
    .header__search {
        width: 52%;
        order: 2;
    }
    
  }