.marketstats-container {
  display: flex;
  justify-content: center;
  background-color: #2c74e9;
}

.marketstats {
  width: 72%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  min-height: 5rem;
}

.table-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  background-color: rgb(236, 240, 240);
}

