.searchfilter-container {
    position: relative;
    width: 100%;
}

.searchfilter-container input{
    width: 100%;
    padding: 0.3rem;
}

.results {
    position: absolute;
    z-index: 5;
    width: 100%;
    text-align: left;
    color: black;

    background-color: white;
    box-shadow: rgb(0 0 0 / 45%) 0px 2px 15px -3px !important;
}

.results div {
    display: flex;
    align-items: center;
    height: 2.4rem;
    padding: 0.6rem;
    font-size: 0.9rem;
}

.results div:hover {
    background-color: rgb(240,240,240);;
}

.results__coin-icon {
    width: 1.4rem;
    height: 1.4rem;
}